/** styles/footer **/

#footer {
   width:100%;
   position:absolute;
   bottom:0;

   div {
      color:$white;

      a {
         color:rgba($white, 0.5);
         margin:0 5px;
      }

      a:hover {
         text-decoration:none;
         color:$white;
      }
   }
}
