/** styles/header **/

header#main-header {
   nav#main-navigation {
      position:relative;
      padding:0;

      a.navbar-brand {
         margin-left:10px;
      }

      button.navbar-toggler {
         margin-right:5px;

         svg.fa-bars {
            path {
               color:#fff;
               opacity:0.5;
            }
         }
      }

      button.navbar-toggler.active, button.navbar-toggler:hover {
         svg.fa-bars {
            path {
               opacity:1;
            }
         }
      }

      div#main-navigation-toggle {
         top:40px;
         width:100%;
         height:100%;
         z-index:90;

         ul.navbar-nav {
            text-align:center;

            li.nav-item {
               border-width:1px 0 0 0;
               border-style:solid;
               border-color:transparent;
               background:#343A40;

               a.nav-link {
               }
            }
         }
      }

      div#main-navigation-toggle.xl, div#main-navigation-toggle.lg {
      }

      div#main-navigation-toggle.md, div#main-navigation-toggle.sm, div#main-navigation-toggle.xs {
         position:absolute;

         ul.navbar-nav {
            li.nav-item { 
               border-color:#7b7971;

               a.nav-link {
               }
            }
         }
      }
   }
}

.breadcrumb {
   border:none;
   background:transparent; 
   margin:0; 
   padding:0; 
   text-align:left;
   width:250px;

   .breadcrumb-item {
      color:$white;

      a {
         color:rgba($white, 0.5);
      }

      a:hover {
         text-decoration:none;
         color:$white;
      }
   }
}
