/** styles/MainNavigation **/

div#MainNavigation {
   width:100%;

   > div {

      div.desktop {
      }
      
      div.mobile {
         text-align:center;

         div[role="button"] {
            float:left; 
            clear:both;

            button[type="button"] {
            }
         }

         div:nth-child(2) {
            display:inline-block;
            clear:both;

            ul.navbar-nav {
               li.nav-item {
                  a.nav-link {
                  }

                  a.nav-link.active {
                  }
               }
            }
         }
      }
   }
}

